
/***************************
BODY
****************************/
#bio {
    margin:20px;
    padding: 20px 20px 20px 20px;
    font-size: 1em;
    max-width: 45%;
}
.img {
    padding: 0 0 10px 10px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
 
}
