/***********************
GENERAL
************************/
body {
    font-family: 'lato', sans-serif;
    background-color: linear-gradient (down, #999966,  #b8b894, #e0e0d1, #f5f5f0);
    padding-top: 0;
}

a{
    text-decoration: none;
}




/***********************
HEADING
***********************/
#wrapper {
        width: 100%;
        margin: 0;
        padding: 5px 0px 10px 0px;
        background-color: white;
    
    }
div.container{
    display: flex;
    justify-content: center;
    padding:0;
    margin: 0;
    
}

.page-header{
    max-height: 300px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}

.page-header a{
    text-decoration: none;
}

h1 {
    font-family: 'lato', sans-serif;
    text-decoration:none;
    margin: 0;
    font-size: 2.50em;
    font-weight: normal;
    line-height: 0.8em;
    text-align: center;
    color: white;
    padding:20px 0 0 0;

}

#logo {
    align-items: flex-start;
    float: left;
    max-height: 200px;
    object-fit: stretch;
    padding: 20px 0px 1px 0px;
     margin-left: 20px;
}

.nav ul {
    list-style: none; 
    display: flex;
    flex-basis: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}
   

.nav li {
    display: flex;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0px 0px 10px 0px;
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    
}

.nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: 80;
    color: white;
    padding: 0;
    font-size: 1em;
    justify-content: center;
}


/***************************
BODY
****************************/
img {
    max-width: 45%;
    
}
/************************
    Email Form
************************/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    background:url(images/submit.jpg);
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
	    opacity:.9;
	}



/************************
    Footer
************************/
.main-footer {
    display: block;
    border: none;
    background-color: darkgray;
    font-size:1em;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    color: white;
    }
   
.social-icon {
    margin: 0 5px; 
    padding-bottom: 5px;
}

/***********************
Media Query max 991px
***********************/
@media (max-width:991px){
    .page-header{
    max-height: 150px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}
}
@media (max-width:991px){
#logo {
    align-items: flex-start;
    float: left;
    max-height: 100px;
    object-fit: stretch;
    padding: 10px 0px 1px 0px;
}
}
/***********************
Media Query max 767px
***********************/
@media (max-width:767px){
    .page-header{
    max-height: 100px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}
}
@media (max-width:767px){
#logo {
    align-items: flex-start;
    float: left;
    max-height: 100px;
    object-fit: stretch;
    padding: 10px 0px 1px 0px;
}
}
/***********************
Media Query max 400px
***********************/
@media (max-width:400px){
#logo {
    align-items: flex-start;
    float: left;
    max-height: 75px;
    object-fit: stretch;
    padding: 10px 0px 1px 0px;
}
}
@media (max-width:400px){
h1 {
    font-size: 1.2em;
}
}
@media (max-width:400px){
.nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 80;
    color: white;
    padding: 0;
    font-size: 1em;
     margin-left: auto;
    margin-right: auto;
}
}
@media (max-width:400px){
    .nav li {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0px 0px 5px 0px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    }}

@media (max-width:400px){
    img {
        max-width: 300px;
    }
}
@media (max-width:400px){
    .page-header{
    max-height: 200px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}
}
