/***********************
GENERAL
************************/
body {
    font-family: 'lato', sans-serif;
    padding-top: 0;
}

a{
    text-decoration: none;
}


/***********************
HEADING
***********************/


container-fluid{
    display: flex;
    padding:0;
    margin: 0;
}

.navbar-header{
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
    max-height: 250px;
}

.navbar-header a{
    text-decoration: none;
}

h1 {
    font-family: 'lato', sans-serif;
    text-decoration:none;
    margin: 0;
    font-size: 2.50em;
    font-weight: normal;
    text-align: center;
    color: white;

}
.clearfix:after{
    overflow: auto;
}

.navbar-brand img {
    display: flex;
    align-items: flex-start;
    float: top;
    max-height: 150px;
   padding: 5px 5px 5px 5px;
}


.nav a {
    padding: 0 10px 10px 10px; 
     list-style: none; 
    display: inline-flex;
    text-decoration: none;
    font-weight: 80;
    color: white;
    font-size: 1.5em;
    justify-content: space-between;
     float: right;
}
/***************************
BODY
****************************/
img {
    max-width: 45%;
    
}

**********************
Slideshow -- Index page
**********************

.carousel-indicators{
    bottom: 0;
}
.carousel-indicators .active{
    color:  #222;
}
.carousel-indicators li {
    border-color: #222;
}

.carousel-inner .item{
    transition-property: opacity;
    max-width: 50%;
    padding-bottom: 25px;
    align-items: center;
}
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
/*            left: 0;*/
            transform: translate3d(0, 0, 0);
        }

.carousel-control {
    z-index: 2;
    }

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
/*    margin: auto;*/
 
}
.carousel-inner .item img {
    display: block;
    margin: auto;
    position: relative;
    left: 50%;
}
div.c-wrapper{
    width: 100%;
    margin: auto;
}


/************************
    Footer
************************/
.main-footer {
    display: block;
    border: none;
    background-color: darkgray;
    font-size:1em;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    color: white;
    }
   
.social-icon {
    margin: 0 5px; 
    padding-bottom: 5px;
}

/***********************
Media Query max 991px
***********************/
@media (max-width:991px){
    .navbar-header{
    max-height: 200px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}
}
@media (max-width:991px){
.navbar-brand img{
    align-items: flex-start;
    float: left;
    max-height: 150px;
    object-fit: stretch;
    padding: 5px 5px 5px 5px;
}
}
/***********************
Media Query max 767px
***********************/
@media (max-width:767px){
    .navbar-header{
    max-height: 200px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}
}
@media (max-width:767px){
    h1{
        font-size: 1.75em
    }
    
}
@media (max-width:767px){
.navbar-brand img {
    align-items: flex-start;
    float: left;
    max-height: 150px;
    object-fit: stretch;
    padding: 5px 5px 5px 5px;
}
}


/***********************
Media Query max 400px
***********************/
@media (max-width:400px){
.navbar-brand img {
    align-items: flex-start;
    float: left;
    max-height: 100px;
    object-fit: stretch;
    padding: 5px 5px 5px 5px;
}
}
@media (max-width:400px){
h1 {
    font-size: 1.2em;
    justify-content: center;
    padding-left: 10px;
}
}
@media (max-width:400px){
.nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 80;
    color: white;
    padding: 0;
    font-size: 1em;
     margin-left: auto;
    margin-right: auto;
    float: right;
}
}
@media (max-width:400px){
    .nav li {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0px 5px 5px 5px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
        float: right;
    }}

@media (max-width:400px){
    .navbar-header{
    max-height: 200px; 
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 0;
}
}
 