

**********************
Slideshow -- Index page
**********************

.carousel-indicators{
    bottom: 0;
}
.carousel-indicators .active{
    color:  #222;
}
.carousel-indicators li {
    border-color: #222;
}

.carousel-inner .item{
    transition-property: opacity;
    max-width: 50%;
    height: 100%;
    padding-bottom: 25px;
    align-items: center;
}
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
/*            left: 0;*/
            transform: translate3d(0, 0, 0);
        }

.carousel-control {
    z-index: 2;
    }

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
/*    margin: auto;*/
 
}
.carousel-inner .item img {
    display: block;
    margin: auto;
    position: relative;
    left: 50%;
    height: 400px;
}
div.c-wrapper{
    width: 100%;
    margin: auto;
}

